{% extends 'Layout/base.html.twig' %}

{% block title 'Les plus beaux drapeaux français'%}

{% block body %}
        {% if paysage|length > 0 %}
        <h1 class="mb-4 text-center text-muted"> {{ pluralize(paysage|length, 'Flag', 'Flags') }}  </h1>
       
       {% for row in paysage|batch(3) %} 
            <div class="row mb-5">
                {% for paysage in row %}
                    <div class="col-md-4">
                        <article class="paysage bg-white rounded shadow">
                            <div class="mw-100 overflow-hidden rounded-top">
                                <a href="{{ path('paysages_app', {id: paysage.id}) }}">
                                <img src="{{ (paysage.imageName ? vich_uploader_asset(paysage) :
                                asset('build/images/placeholder.jpg')) | imagine_filter('small') }}" 
                                class="w-100"/>
                                </a>
                            </div>
                            <p class="h4 pl-3 pt-3"><a href="{{ path('paysages_app', {id: paysage.id}) }}"> {{paysage.titre}}</a></p>
                            <p class="pl-3 pb-3 text-muted"><small>Submitted by {{ paysage.user.FullName}}</small> </p>
                            <p class="pl-3 pb-3"> {{paysage.description|u.truncate(50,'...', false)}}</p>
                        </article>
                    </div>   
                {% endfor %}
            </div>
        {% endfor %}    

    {% else %}
        <h1 class="mt-4 text-center"> No landscape yet. <a href="{{ path('create_app') }}"> Be the first!</a> </h1>
    {% endif %}
{% endblock %}
