{% extends 'base.html.twig' %}

{% block title 'Les plus beaux paysages'%}

{% block body %}
    <h1> Tous les paysages : {{ pluralize(paysage|length, 'Paysage', 'Paysages') }}  </h1>

    {% for paysage in paysage %}
        <article>
            <h2><a href="{{ path('paysages_app', {id: paysage.id}) }}"> {{paysage.titre}}</a></h2>
            <p> {{paysage.description|u.truncate(30,'...', false)}}</p>
            <p> Created: {{(paysage.createdAt|ago)}}
        </article>
    {% endfor %}
{% endblock %}
