{% extends 'Layout/base.html.twig' %}

{% block title paysage.titre %}

{% block body %}
    <article>
        <h1> {{ paysage.titre }} </h1>
        <h1> {{ paysage.description }} </h1>
    </article>

    <a href="{{ path('edit_app', {id: paysage.id}) }}">Edit</a>
    <a href="#" onclick="event.preventDefault(); confirm('Are you sure') && 
    document.getElementById('js-paysage-delete-form').submit();">Delete</a>
    <a href="{{ path('app_home') }}">Go Back</a>

    <form id="js-paysage-delete-form" action="{{ path('delete_app', {id: paysage.id}) }}" 
    method="post" style="display:none;">

    <input type="hidden" name="csrf_token" value="{{ csrf_token('delete'~paysage.id) }}">
    <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}
